html
{
    background-color: #FFFFFF;
}

body
{
    margin: 0 auto;
    width: 75%;
}



h1 {
    color: #444;
}

header {
    background-color: #fff;
    padding: 20;
    text-align: center;
    width: 100%;
}

.content {

    background-color: #f5f5f5;
    color: #222;
    font-size:large;
    padding: 20px;
}

.footer
{
    background-color: #eee;
    bottom: 0;
    left: 0;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}